Options -MultiViews
RewriteEngine On

RewriteBase /File-Manager/Backend/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]

# Allow uploading larger files
php_value upload_max_filesize 2048M
php_value post_max_size 2049M
php_value memory_limit 256M