.container {
  background-color: var(--dark-theme-background-color);
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  top: 0;
  z-index: 2;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.description {
  color: var(--dark-theme-secondary-font-color);
}

.divider {
  border-bottom: 1px solid var(--dark-theme-secondary-font-color);
}

@media screen and (max-width: 960px) {
  .container {
    padding-top: 1rem;
  }
}
