<div id="create-menu" class="container">
  @if (this.directoryController.response()) {
    <div class="errors">{{ this.directoryController.response()?.message }}</div>
  }
  @if (this.fileController.response()) {
    <div class="errors">{{ this.fileController.response()?.message }}</div>
  }
  <div class="options">
    <div class="create-directory">
      <div class="title">Ordner erstellen</div>
      <form (submit)="this.handleCreateDirectory($event)">
        <input type="text" id="name" name="name" autocomplete="off" #nameInput />
        <button>
          <i class="bi bi-folder-plus"></i>
        </button>
      </form>
    </div>
    <div class="divider"></div>
    <div class="upload-files">
      <div class="title">Dateien hochladen</div>
      <input (change)="this.handleFileUpload($event)" type="file" hidden #fileInput />
      <button (click)="fileInput.click()">
        <i class="bi bi-paperclip"></i>
        Dateien auswählen
      </button>
    </div>
  </div>
</div>
