<div [id]="CREATE_MENU_ID" [class]="isOpen ? 'open' : ''" class="container">
  @if (this.storageController.response()) {
    <div class="errors">{{ this.storageController.response()?.message }}</div>
  }
  <div class="options">
    <div class="create-directory">
      <span class="title">Ordner erstellen</span>
      <form (submit)="this.handleCreateDirectory($event)">
        <input type="text" id="name" name="name" autocomplete="off" #nameInput />
        <button>
          <i class="bi bi-folder-plus"></i>
        </button>
      </form>
    </div>
    <div class="divider"></div>
    <div class="upload-files">
      <span class="title">Datei hochladen</span>
      <input (change)="this.handleFileUpload($event)" type="file" hidden #fileInput />
      <button (click)="fileInput.click()">
        <i class="bi bi-file-earmark-plus"></i>
        Datei auswählen
      </button>
    </div>
  </div>
</div>
