<div class="container">
  <div>
    <app-icon [height]="iconSize" [width]="iconSize"></app-icon>
  </div>
  <div class="auth-text">
    {{ type == AuthFormEnum.LOGIN ? "Melde dich mit deinem Konto an" : "Erstelle ein neues Konto" }}
  </div>
  <form (submit)="handleSubmit($event)" class="auth-form">
    @if (this.authController.apiResponse() !== null) {
      <div class="auth-errors">{{ this.authController.apiResponse()?.message }}</div>
    }
    <div class="auth-body">
      @if (type == AuthFormEnum.SIGNUP) {
        <div class="auth-input">
          <label for="username">Benutzername</label>
          <input name="username" id="username" type="text" #userNameInput />
        </div>
      }
      <div class="auth-input">
        <label for="email">E-Mail</label>
        <input name="email" id="email" type="email" #emailInput />
      </div>
      <div class="auth-input">
        <label for="password">Passwort</label>
        <input name="password" id="password" type="password" #passwordInput />
      </div>
      <div class="auth-submit">
        <app-button [text]="type == AuthFormEnum.LOGIN ? 'Anmelden' : 'Konto erstellen'"></app-button>
      </div>
      <div class="auth-change">
        @if (type == AuthFormEnum.LOGIN) {
          Neu hier? <a (click)="goToOtherAuthForm()">Erstelle ein neues Konto</a>
        } @else if (type == AuthFormEnum.SIGNUP) {
          Du hast bereits ein Konto? <a (click)="goToOtherAuthForm()">Hier anmelden</a>
        }
      </div>
    </div>
  </form>
</div>
