.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
  justify-content: center;

  margin: 2rem;
}

.auth-text {
  font-size: 1.5rem;
  text-align: center;
}

.auth-form {
  width: 320px;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-errors {
  background-color: var(--warning-color-opacity-15);
  padding: 12px 24px;
  border: 1px solid var(--warning-color);
  border-radius: var(--border-radius-light);
}

.auth-body {
  background-color: var(--dark-theme-secondary-background-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  border: 1px solid var(--dark-theme-secondary-font-color);
  border-radius: var(--border-radius-light);
}

.auth-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.auth-input input {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-font-color);

  padding: 0.5rem;

  outline: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius-lighter);
  transition: border var(--transition-delay);
}

.auth-input input:hover {
  border: 1px solid var(--dark-theme-secondary-font-color);
}

.auth-input input:focus {
  border: 1px solid var(--primary-color);
}

.auth-input input:-webkit-autofill,
.auth-input input:-webkit-autofill:hover,
.auth-input input:-webkit-autofill:focus,
.auth-input input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--dark-theme-font-color);
  -webkit-box-shadow: 0 0 0 40px var(--dark-theme-background-color) inset !important;
}

.auth-submit {
  margin-top: 1.5rem;
  text-align: center;
}

.auth-change {
  text-align: center;
}

.auth-change a {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-change a:hover {
  cursor: pointer;
  text-decoration: underline;
}
