.dropdown-wrapper {
  position: relative;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius-round);
  height: 32px;
  width: 32px;

  transition: var(--transition-delay);
}

.toggle-container:hover {
  background-color: var(--dark-theme-third-background-color);
}
