<div class="container">
  <div class="sub-container left">
    <div class="brand-container content">
      <div class="brand-name-container">
        <app-icon [width]="iconSize" [height]="iconSize"></app-icon>
        <div class="brand-name">{{ brandName() }}</div>
      </div>
      <div class="brand-description">Modern web-based file manager</div>
    </div>
  </div>
  <div class="sub-container right">
    <div class="slogan-container content">
      <div class="slogan">Alles an einem Ort.</div>
      <div class="sub-slogan">Deine Dateien und Ordner – sicher und einfach verwaltet.</div>
      <div>
        @if (this.authController.isAuthenticated()) {
          <app-button (click)="this.goToDashboard()" text="Zum Dashboard"></app-button>
        } @else {
          <app-button (click)="this.goToLogin()" text="Zum Login"></app-button>
        }
      </div>
    </div>
  </div>
</div>
