<div class="container">
  <div class="header">Pfad: {{ this.directoryController.currentDirectory()?.path }}</div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th [width]="25"></th>
          <th>Name</th>
          <th [width]="100" class="align-right">Größe</th>
          <th [width]="25"></th>
        </tr>
      </thead>

      <tbody>
        @if (this.isRoot()) {
          <tr>
            <td (click)="this.directoryController.goBack()">
              <i class="bi bi-chevron-left"></i>
            </td>
          </tr>
        }

        <!-- Directories -->
        @for (directory of this.directoryController.directories(); track directory.id) {
          <tr>
            <td (click)="this.directoryController.selectDirectory(directory.id)">
              <i class="bi bi-folder-fill folder-icon"></i>
            </td>
            <td (click)="this.directoryController.selectDirectory(directory.id)" class="text-overflow">
              {{ directory.name }}
            </td>
            <td (click)="this.directoryController.selectDirectory(directory.id)"></td>
            <td [id]="DROPDOWN_TOGGLE_ID">
              <app-drop-down-toggle [type]="DropDownType.Directory" [directory]="directory"></app-drop-down-toggle>
            </td>
          </tr>
        }

        <!-- Files -->
        @for (file of this.fileController.files(); track file.id) {
          <tr>
            <td>
              <app-file-type-icon [fileName]="file.name"></app-file-type-icon>
            </td>
            <a hidden download #downloadAnchor></a>
            <td (click)="this.downloadFile(file, downloadAnchor)">
              <div class="file-details-container">
                <div class="text-overflow">{{ file.name }}</div>
                @if (this.settingsService.showFileHashes()) {
                  <div class="text-overflow file-hash">
                    {{ file.hash }}
                  </div>
                }
              </div>
            </td>
            <td class="align-right">
              {{ file.compactSize }}
            </td>
            <td [id]="DROPDOWN_TOGGLE_ID">
              <app-drop-down-toggle [type]="DropDownType.File" [file]="file"></app-drop-down-toggle>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
