<div class="container">
  <div class="header">Pfad: {{ this.directoryController.currentDirectory()?.path }}</div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th [width]="25"></th>
          <th>Name</th>
          <th class="align-right">Größe</th>
          <th [width]="25"></th>
        </tr>
      </thead>

      <tbody>
        @if (this.isRoot()) {
          <tr>
            <td (click)="this.directoryController.goBack()">
              <i class="bi bi-chevron-left"></i>
            </td>
          </tr>
        }

        <!-- Directories -->
        @for (directory of this.directoryController.directories(); track directory.id) {
          <tr (click)="this.directoryController.selectDirectory(directory.id)">
            <td>
              <i class="bi bi-folder-fill folder-icon"></i>
            </td>
            <td>{{ directory.name }}</td>
            <td></td>
            <td class="align-center">
              <i class="bi bi-three-dots"></i>
            </td>
          </tr>
        }

        <!-- Files -->
        @for (file of this.fileController.files(); track file.id) {
          <tr>
            <td>
              <i class="bi bi-file-earmark-fill"></i>
            </td>
            <td>{{ file.name }}</td>
            <td class="align-right">{{ file.compactSize }}</td>
            <td class="align-center">
              <i class="bi bi-three-dots"></i>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
