.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: calc(75px + 4rem);
}

.table-container {
  padding: 1rem;
  background-color: var(--dark-theme-secondary-background-color);

  border-radius: var(--border-radius-light);
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 2px solid var(--primary-color);
}

tr {
  border-bottom: 1px solid var(--dark-theme-secondary-font-color);
  height: 50px;
}

tbody > tr {
  cursor: pointer;
  transition: var(--transition-delay);
}

tbody > tr:hover {
  background-color: var(--dark-theme-third-background-color);
}

th:first-child,
td:first-child {
  padding-left: 0.5rem;
}

th:last-child,
td:last-child {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.folder-icon {
  color: var(--primary-color);
}

.file-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.file-hash {
  color: var(--dark-theme-secondary-font-color);
  font-size: 0.75rem;
}
