.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark-theme-secondary-background-color);

  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--dark-theme-secondary-font-color);
  height: 45px;
  width: 45px;
  margin: auto;
}

.container:hover {
  background-color: var(--dark-theme-third-background-color);
}

@media screen and (max-width: 960px) {
  .container {
    font-size: 1rem;
    height: 35px;
    width: 35px;
  }
}
