<div [id]="DROPDOWN_MENU_ID" [class]="isOpen ? 'open' : ''" class="container">
  <!--  <div class="title">-->
  <!--    <span class="text-overflow">"{{ this.directory?.name ?? this.file?.name }}"</span>-->
  <!--  </div>-->
  <div class="sub-container">
    @switch (type) {
      @case (DropDownType.Directory) {
        <div (click)="this.selectStorage()" class="item">
          <div>
            <i class="bi bi-folder2-open"></i>
          </div>
          <span>Öffnen</span>
        </div>
        <div class="item">
          <div>
            <i class="bi bi-pencil"></i>
          </div>
          <span>Umbenennen</span>
        </div>
        <div class="item">
          <div>
            <i class="bi bi-palette"></i>
          </div>
          <span>Farbe ändern</span>
        </div>
        <hr class="divider" />
        <div (click)="this.deleteDirectory()" class="item text-warning">
          <div>
            <i class="bi bi-trash3"></i>
          </div>
          <span>Löschen</span>
        </div>
      }
      @case (DropDownType.File) {
        <div (click)="this.downloadFile(downloadAnchor)" class="item">
          <div>
            <i class="bi bi-download"></i>
          </div>
          <span>Herunterladen</span>
        </div>
        <div class="item">
          <div>
            <i class="bi bi-pencil"></i>
          </div>
          <span>Umbenennen</span>
        </div>
        <div (click)="this.copyHash()" class="item">
          <div>
            <i class="bi bi-key"></i>
          </div>
          <span>SHA-256-Signatur kopieren</span>
        </div>
        <hr class="divider" />
        <div (click)="this.deleteFile()" class="item text-warning">
          <div>
            <i class="bi bi-trash3"></i>
          </div>
          <span>Löschen</span>
        </div>
        <a hidden download #downloadAnchor></a>
      }
    }
  </div>
</div>
