.container {
  position: absolute;
  display: flex;
  flex-direction: column;

  right: 0;
  width: 250px;

  backdrop-filter: blur(var(--border-radius-lighter));
  background-color: var(--dark-theme-background-color-opacity-33);

  border: 1px solid var(--dark-theme-secondary-font-color);
  border-radius: var(--border-radius-light);

  cursor: default;
  pointer-events: none;

  transition:
    transform var(--transition-delay),
    opacity var(--transition-delay);
  transform: scale(0);
  transform-origin: top right;

  opacity: 0;
  z-index: 1;
}

.open {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-theme-secondary-font-color);
  padding: 0.5rem;
}

.sub-container {
  padding: 0.5rem;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: var(--border-radius-lighter);
  transition: var(--transition-delay);
  cursor: pointer;
  text-wrap: nowrap;
}

.item:hover {
  background-color: var(--dark-theme-third-background-color-opacity-50);
}

.text-warning:hover {
  background-color: var(--warning-color-opacity-15);
}

.divider {
  background-color: var(--dark-theme-secondary-font-color);
  height: 1px;
  width: 100%;

  margin: 0.125rem auto;
  border: 0;
}

i {
  vertical-align: middle;
}
