.container {
  position: absolute;
  display: flex;
  flex-direction: column;

  right: 0;
  width: 200px;

  background-color: var(--dark-theme-secondary-background-color);

  border: 1px solid var(--dark-theme-secondary-font-color);
  border-radius: var(--border-radius-light);

  cursor: default;
  pointer-events: none;

  transition:
    transform var(--transition-delay),
    opacity var(--transition-delay);
  transform: scale(0);
  transform-origin: top right;

  opacity: 0;
  z-index: 1;
}

.open {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.title {
  color: var(--dark-theme-secondary-font-color);
  text-align: center;

  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  cursor: pointer;
}

.item:not(:first-child):not(:last-child) {
  padding-top: 0;
}

.item:hover {
  text-decoration: underline;
}

.divider {
  background-color: var(--dark-theme-secondary-font-color);
  height: 1px;
  width: 100%;

  margin: 2px auto;
  border: 0;
}

i {
  vertical-align: middle;
}
