:root {
  --primary-color: #8075ff;

  --warning-color: #ff6464;
  --warning-color-opacity-25: rgba(255, 115, 115, 0.25);

  --dark-theme-background-color: #141414;
  --dark-theme-background-color-opacity-33: rgba(20, 20, 20, calc(2 / 3));
  --dark-theme-secondary-background-color: #282828;
  --dark-theme-third-background-color: #4b4b4b;
  --dark-theme-third-background-color-opacity-50: rgba(75, 75, 75, 0.5);

  --dark-theme-font-color: #ffffff;
  --dark-theme-secondary-font-color: #afafaf;

  --transition-delay: 200ms;

  --border-radius: 1rem;
  --border-radius-light: 0.5rem;
  --border-radius-lighter: 0.25rem;
  --border-radius-round: 50%;
}

body {
  background-color: var(--dark-theme-background-color);

  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--dark-theme-font-color);

  margin: 0;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.text-warning {
  color: var(--warning-color);
}

.text-overflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-wrap: nowrap !important;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-BoldItalic.woff2") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-Italic.woff2") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-Light.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-LightItalic.woff2") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu/Ubuntu-MediumItalic.woff2") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
