.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected > i,
.container:hover > i {
  color: var(--primary-color);
}

.label {
  color: var(--dark-theme-secondary-font-color);
}

i {
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .label {
    font-size: 0.75rem;
  }

  i {
    font-size: 1.25rem;
  }
}
